# NextAuth.js
NEXTAUTH_URL=https://gcp-learning-platform-404350469693.asia-northeast1.run.app
NEXTAUTH_SECRET=  # openssl rand -base64 32 で生成

# Google OAuth (GCP Console > APIs & Services > Credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
